* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4a4a52;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a5a62;
}